.Rproj.user
.Rhistory
.RData
.Ruserdata
ATLAS_data_retrieval/retrieve_ATLAS_data_algorithm_scheme.drawio
ATLAS_data_retrieval/config.R
Visual_Filter_App/config_visual_filter.R
ATLAS_data_retrieval/ATLAS_data_requests.R
ATLAS_data_retrieval/ConfidenceFilterDevelopment/convert_rdata_to_csv_files.R
ATLAS_data_retrieval/ConfidenceFilterDevelopment/prepare_atlas_data_for_exmove.R
Mapping_tools/t_map/Israel_map.png
Mapping_tools/t_map/pink_warbler_map.png